* 
{
    box-sizing: border-box;
}
.kolom1{width:8.33%;}
.kolom2{width:16.66%;}
.kolom3{width:25%;}
.kolom4{width:33.33%;}
.kolom5{width:41.66%;}
.kolom6{width:50%;}
.kolom7{width:58.33%;}
.kolom8{width:66.66%;}
.kolom9{width:75%;}
.kolom10{width:83.33%;}
.kolom11{width:91.66%;}
.kolom12{width:100%;}



a
{
	text-decoration:none
}
h1
{
	word-break: break-all;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p
{
	text-align:justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.header
{
	outline: 10px solid white;
	background:white;
	margin-left: auto;
    margin-right: auto;
	justify-content:center;
	align-items: center;
	padding:1%;
	position:static;
	
}

.logo
{
	margin-left: 5%;
    margin-right: auto;
	float:left;

}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.margindropdown
{
	margin-left:15%;
	
}

video {
    width: 100%;
    height: auto;
}

.background-wrap 
{
	position: relative;
	z-index: -1;
	width: 99%;
	height: 100%;
	overflow: hidden;
	top: -70;
	left: 5;
	right:-9;
}
			
#video-bg-elem 
{
	position: absolute;
	top: -70;
	left:5;
	right:-9;
	
	min-height: 100%;
	min-width: 99%;
}





/* Center website */
.main {
    max-width: 1000px;
	margin:auto;
    
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
	margin-right:3.3%;
    width: 30%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom: 20%;
	text-align:justify;
}

.footer
{
	margin-top:0%;
	position:absolute;
	background-color: #008791;
	background-image: url("footer.png");
	width:99.2%;
	outline:5px solid #008791;
	
}

.sosial-media
{
	float:right;
	margin-right:5%;
}


